#!/bin/bash

export MYSQL_URL="<your-user>:<your-password>@tcp(127.0.0.1:3306)/dotdb?charset=utf8mb4&parseTime=True&loc=Local"
# docker compose up -d
curl -sSfL https://raw.githubusercontent.com/cosmtrek/air/master/install.sh | sh -s

./bin/air
